<a href="https://colab.research.google.com/github/VictorHFr/Taller_de_Herramientas_Computacionales/blob/main/Clase_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Clase 17
Victor Manuel Hernández Franco
17 de Octubre de 2023

In [1]:
#Ejercicio de clase 17 de octubre de 2023
#Multiplicar dos matrices elemento con elemento.
A=[[1,2,3],[4,5,6], [7,8,9]]
B=[[10,11,12],[13,14,15],[16,17,18]]
for i in range(len(A)):
  for j in range(len(A)):
   print(A[i][j]*B[i][j])

10
22
36
52
70
90
112
136
162

In [ ]:
import math
#Round a number upward to its nearest integer
print(math.ceil(1.4))

2

In [ ]:
import math

p=[2,23]
q=[23,14]

#Calcular ecuacion de distancia
print (math.dist(p, q))

22.847319317591726

In [ ]:
#Ccomprobar si el valor es infinito
print(math.isinf(56))
print(math.isinf(float("inf")))
print(math.isinf(float("-inf")))

False
True
True

In [ ]:
print(math.pi)

3.141592653589793

In [ ]:
#Biblioteca Random. Generar números randoms
import random
random.seed(10)
print(random.random())

0.5714025946899135

In [ ]:
import random

print(random.randint(3, 9))

6

In [ ]:
import random

mylist = ["apple", "banana", "cherry"]

print(random.choice(mylist))

banana

In [ ]:
#Matriz
A=[[1,2,3],[4,5,6], [7,8,9]]
B=[[10,11,12],[13,14,15],[16,17,18]]
print(A)
print(A[0][0])
print(A[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
1
6

In [ ]:
#Matriz 2
A=[[1,2,3],[4,5,6], [7,8,9]]

for i in range(len(A)):
  print(A[0][i])
  print(A[1][i])

1
4
2
5
3
6

In [ ]:
A=[[1,2,3],[4,5,6], [7,8,9]]

for i in range(len(A)):
  print(A[i][0])

1
4
7

In [ ]:
A=[[1,2,3],[4,5,6], [7,8,9]]

for i in range(len(A)):
  print(A[i])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
for i in range(len(A)):
  for j in range(len(A)):
    print(A[i][j])

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(len(A)):
  for j in range(len(A)):
   print(A[j][i])

1
4
7
2
5
8
3
6
9

In [ ]:
for i in range(len(A)):
  for j in range(len(A)):
   print(A[i][j]+B[i][j])

11
13
15
17
19
21
23
25
27

In [ ]:
A=[5, 3, 1, 9, 10, 2, 15]
if 20909808>3:
  A = [3, 5]
  print(A)

[3, 5]

In [ ]:
L=[5,4,3,2,1]
n=len(L)
for i in range(n-1):
  if L[i]>L[i+1]:
     print(L)
     aux=L[i+1]
     L[i+1]=L[i]
     L[i]=aux
     print(L)

[5, 4, 3, 2, 1]
[4, 5, 3, 2, 1]
[4, 5, 3, 2, 1]
[4, 3, 5, 2, 1]
[4, 3, 5, 2, 1]
[4, 3, 2, 5, 1]
[4, 3, 2, 5, 1]
[4, 3, 2, 1, 5]